body {
    background-color: rgb(202, 202, 202);
    background-size: cover;
    font-weight: 600;
    font-size: 20px;
    background-image: url(../Images/worldwide-connection-gray-background-illustration-vector_53876-61773.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.content {
    max-width: 500px;
    margin: auto;
  }

p {
    color: rgb(0, 0, 0);
    text-align: center;
}
text {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 35px;
    background-color: #7b7b7b96;
    border: groove rgb(255, 255, 255);
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: #7b7b7b96;
    border: groove rgb(255, 255, 255);
}

h3 {
    color: white;
    text-align: center;
    font-size: 25px;
    background-color: #7b7b7b96;
    border: groove rgb(255, 255, 255);

}


.left {
    width: 744px;
    height: 200px;
    float: left;
    border: groove rgb(255, 255, 255);
}

.right {
    width: 744px;
    height: 200px;
    float: right;
    border: groove rgb(255, 255, 255);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 50%;
}

img {
    border-radius: 75%;
    border: 5px groove #49494996;
}

.contact {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: inline-block;
}


ul {
    display: table;
    margin: 0 auto;
  }